@import "style/_variables";

.financial-corrector {
  height: 100%;
}

.financial-corrector__header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  min-height: 70px;
  overflow: hidden;

  border-bottom-right-radius: 15px;
  border-bottom-left-radius: 15px;

  padding-right: var(--sp-3);

  @include mobile-large-up {
    padding-right: var(--sp-5);
  }
}

.financial-corrector__title {
  font-size: 20px;
}

.financial-corrector__main {
  flex-grow: 1;

  background-color: var(--palette-bg);
  border-top-left-radius: 15px;
  border-top-right-radius: 15px;
}
