$content-height: 64px;
$item-square: 44px;

.report-manage-menu {
  position: relative;

  .report-manage-menu__content {
    position: absolute;
    top: 100%;
    right: 0;

    display: flex;
    height: $content-height;
    padding: var(--sp-2);

    background-color: var(--palette-bg);
    border-radius: 15px;
    box-shadow: 2px 5px 10px 0 var(--palette-fg);
  }

  .report-manage-menu__item {
    width: $item-square;
    height: $item-square;
  }
}
