.finance-report {
  border: 1px solid var(--palette-primary);
  border-radius: 16px;
}

.finance-report__header {
  position: relative;

  border-bottom: 1px solid var(--palette-primary);
}

.finance-report__title {
  margin: 0;

  font-size: 20px;
  text-align: center;
}

.finance-report .finance-report__menu {
  position: absolute;
  top: 50%;
  right: 0;

  transform: translateY(-50%);
}

.finance-report__total-income {
  text-align: center;
}

.finance-report__table {
  display: block;
}

.finance-report__table-body {
  display: grid;
}

.finance-report__table-head {
  padding: var(--sp-1);

  font-size: 18px;

  border-top: 1px solid var(--palette-primary);

  &.__separator {
    border-right: 1px solid var(--palette-primary);
    border-left: 1px solid var(--palette-primary);
  }
}

.finance-report__table-row {
  display: grid;
  &:not(:last-of-type) {
    border-bottom: 1px solid var(--palette-primary);
  }

  &.__columned {
    grid-template-columns: repeat(3, 1fr);
  }
}

.finance-report__table-data {
  padding: var(--sp-1);

  text-align: center;
  word-break: break-word;

  &.__separator {
    border-right: 1px solid var(--palette-primary);
    border-left: 1px solid var(--palette-primary);
  }
}
