@import "style/_variables";

.email-password-form {
  padding-left: var(--sp-2);
  padding-right: var(--sp-2);

  @include tablet-up {
    padding-left: var(--sp-5);
    padding-right: var(--sp-5);
  }
  &__input {
    font-size: 20px;
  }

  &__form {
    max-width: 400px;
  }
}
