@import "../../style/_variables";

.card-repetition {
  display: grid;
  max-width: 425px;
  min-height: 340px;

  grid-row-gap: var(--sp-8);
  grid-template-columns: 1fr;
}

.card-repetition__card-wrapper {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: var(--sp-3);
}

.card-repetition__content {
  display: grid;
  align-items: center;

  grid-row-gap: var(--sp-3);
  grid-template-columns: 1fr;
  grid-template-rows: 1fr auto auto;
  justify-items: center;
}

.card-repetition__reminder {
  align-self: center;

  font-size: 20px;
  text-align: center;
  word-break: break-word;
}

.card-repetition__reminder-empty {
  color: var(--palette-positive-lighten-1);
}

.card-repetition__btn {
  width: 100%;
}

@include tablet-up {
  .card-repetition {
    justify-content: space-between;
    max-width: 800px;

    grid-column-gap: var(--sp-6);
    grid-template-columns: 280px 400px;
  }
  .card-repetition__content {
    width: 100%;
    margin-left: auto;

    grid-column-gap: 10px;
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: repeat(3, 1fr);
  }

  .card-repetition__reminder {
    grid-column: 2 span;
    grid-row: 2 span;
  }
}
