.finance-report-editor {
  display: grid;
  grid-template-rows: repeat(2, min-content);
  grid-row-gap: var(--sp-4);
  height: 100%;
  overflow-x: scroll;

  font-size: 20px;

  &::-webkit-scrollbar {
    display: none;
  }
}

.finance-report-editor__submit-btn {
  position: sticky;
  bottom: 0;
}
