.error-message {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 280px;
  height: 180px;

  text-align: center;

  background-color: var(--palette-gray-lighten-6);
  border-radius: 14px;
  transform: translateX(-50%) translateY(-50%);
}
