@import "style/variables";

.base-button {
  position: relative;

  display: grid;
  justify-items: center;
  align-items: center;
  width: 240px;
  min-height: 50px;
  padding: var(--sp-2) var(--sp-6);
  overflow: hidden;

  font-size: 20px;
  line-height: 1.4;
  color: var(--palette-fg);

  background-color: transparent;
  background-image: none;
  border: solid 1px var(--palette-fg);
  border-radius: 25px;
  outline: none;

  @include landscape-up {
    cursor: pointer;

    &::before {
      content: "";
      position: absolute;
      right: 0;
      bottom: 0;
      left: 0;

      width: 100%;
      height: 0;

      background-image: linear-gradient(to top, var(--palette-gray-lighten-5) 0%, transparent 55%, transparent 100%);

      transition: height 0.7s ease;
    }

    &:hover::before {
      height: 100%;
    }

    &:active {
      opacity: 0.7;
    }
  }

  &:disabled {
    color: var(--palette-bg);

    background-color: var(--palette-gray-lighten-5);
    border-color: transparent;

    @include landscape-up {
      cursor: not-allowed;
      &:hover::before {
        height: 0;
      }

      &:active {
        opacity: initial;
      }
    }
  }
}

.base-button.__secondary {
  color: var(--palette-bg);

  background-color: var(--palette-primary);

  @include button-hover-desktop-up;

  &::before {
    background-image: none;
  }

  &:disabled {
    cursor: not-allowed;
    opacity: 0.3;

    @include landscape-up {
      &:hover {
        opacity: 0.3;
      }

      &:focus {
        box-shadow: 0 0 0 2px var(--palette-bg), 0 0 0 4px var(--palette-gray);
      }
    }
  }
}

.base-button.__icon {
  width: auto;
  min-height: initial;

  background-color: transparent;
  border: none;

  @include button-hover-desktop-up;

  &::before {
    background-image: none;
  }
}

.base-button__negative {
  color: var(--palette-bg);
  background-color: var(--palette-negative);
  border: solid 1px var(--palette-negative);

  @include landscape-up {
    &::before {
      background-image: linear-gradient(to top, var(--palette-negative-darken-2) 0%, transparent 55%, transparent 100%);
    }
  }

  &:active {
    opacity: 0.8;
  }
}

.base-button__positive {
  background-color: var(--palette-positive);
}

.base-button.__full-width {
  width: 100%;
}

.base-button.__loading {
  @include landscape-up {
    cursor: wait;
  }
}
