@import "style/variables";

.base-modal {
  &__content {
    position: absolute;
    top: 50%;
    left: 50%;

    width: 100%;
    padding: var(--sp-5);

    background-color: var(--palette-bg);
    border-radius: 14px;
    transform: translateX(-50%) translateY(-50%);

    @include mobile-up {
      max-width: 400px;
    }
  }

  &__overlay {
    content: "";
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    z-index: $z-index-high-layout;

    display: block;

    background-color: rgba(var(--palette-fg-rgb), 0.9);
  }
}
