@import "style/_variables";


.fieldset-part {
  padding: var(--sp-2);
  border: 1px solid var(--palette-gray-lighten-3);
  border-radius: 10px;
}

.fieldset-part__wrapper {
  display: grid;
  justify-content: space-between;

  grid-row-gap: var(--sp-2);
  grid-template-columns: 1fr;
  @include mobile-up {
    grid-column-gap: 0;
    grid-template-columns: repeat(3, min-content);
  }
}

.fieldset-part__input {
  text-align: center;

  @include mobile-up {
    width: 105px;
  }
}

.fieldset-part__title {
  margin-top: 0;
  margin-bottom: var(--sp-2);
  font-size: 20px;
}
