.finance-control {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  align-items: center;
  margin: 0;
  padding: 0;

  list-style: none;

  background-color: var(--palette-bg);
  border-bottom-right-radius: 15px;
  border-bottom-left-radius: 15px;
}