@import "style/_variables";

.percent-corrector {
  min-height: 300px;
  margin-bottom: var(--sp-4);
  padding: var(--sp-3);

  border: 1px solid var(--palette-gray-lighten-3);
  border-radius: 15px;

  &__title {
    display: flex;
    justify-content: space-between;
    align-items: center;
  }

  &__correction-wrapper {
    display: grid;
    grid-row-gap: var(--sp-3);
    grid-auto-rows: max-content;

    border-right: 1px solid var(--palette-gray);
    border-left: 1px solid var(--palette-gray);
  }

  &__balance {
    font-size: 14px;
    text-align: right;

    & .__red {
      color: var(--palette-negative);
    }

    & .__green {
      color: var(--palette-positive);
    }
  }
}
