$step: 5;
$color-primary: #222222;
$color-secondary: #222222;
$color-positive: #0a3d2e;
$color-negative: #ff001f;
$color-bg: #ffffff;
$color-fg: #000000;
$color-gray: #98999a;

@mixin generate-color($name, $color) {
  --palette-#{$name}: #{$color};
  --palette-#{$name}-rgb: #{red($color)}, #{green($color)}, #{blue($color)};
}
@mixin generate-palette($name, $color) {
  @include generate-color($name, $color);
  @for $i from 1 through 8 {
    $result: darken($color, $step * $i);
    $postfix: "-darken-" + $i;
    --palette-#{$name}#{$postfix}: #{$result};
    --palette-#{$name}#{$postfix}-rgb: #{red($result)}, #{green($result)}, #{blue($result)};
  }
  @for $i from 1 through 8 {
    $result: lighten($color, $step * $i);
    $postfix: "-lighten-" + $i;
    --palette-#{$name}#{$postfix}: #{$result};
    --palette-#{$name}#{$postfix}-rgb: #{red($result)}, #{green($result)}, #{blue($result)};
  }
}

:root {
  @include generate-palette("primary", $color-primary);
  @include generate-palette("secondary", $color-secondary);
  @include generate-palette("positive", $color-positive);
  @include generate-palette("negative", $color-negative);
  @include generate-palette("gray", $color-gray);
  @include generate-color("bg", $color-bg);
  @include generate-color("fg", $color-fg);

  --palette-twitter: #1da1f2;
  --palette-facebook: #1877f2;

  --gradient-90deg: linear-gradient(90deg, var(--palette-primary) 0%, var(--palette-secondary) 100%);
}
