@import "../../style/_variables";

.base-page {
  max-width: $base-page-width;
  margin: 0 auto;
  padding: 0 var(--sp-4);

  background-color: var(--palette-bg);
}

.base-header__add-card {
  color: var(--palette-primary);
}
