@import "style/_variables";

.notification-manager {
  position: fixed;
  top: 0;
  right: 0;
  left: 0;

  padding-bottom: 35px;

  background-image: linear-gradient(to top, transparent 0%, var(--palette-negative-lighten-7) 100%);

  &__content {
    display: flex;
    justify-content: start;
    align-items: center;
  }

  &__msg {
    flex-grow: 1;

    text-align: center;
  }
}
