@import "style/_variables";

.notification-manager {
  position: fixed;
  top: 0;
  right: 0;
  left: 0;

  padding-bottom: 35px;

  background-image: linear-gradient(to top, var(--palette-bg) 0%, var(--palette-negative-lighten-7) 40%);

  &__content {
    display: grid;
    grid-template-columns: max-content 1fr;
    grid-column-gap: var(--sp-2);
    align-content: center;
    align-items: center;
    min-height: 168px;
  }

  &__msg-wrapper {
    display: grid;
    grid-row-gap: var(--sp-2);
    grid-auto-rows: auto;
  }

  &__msg {
    text-align: center;
  }
}
