@import "../../style/_variables";

.page-finances {
  display: grid;
  height: 100%;

  grid-template-rows: min-content 1fr;
}

.page-finances__content {
  display: grid;

  background-color: var(--palette-bg);
  border-top-left-radius: 15px;
  border-top-right-radius: 15px;
}

.finance-controls {
  margin: 0;
  padding: 0;

  list-style: none;

  background-color: var(--palette-bg);
  border-bottom-right-radius: 15px;
  border-bottom-left-radius: 15px;
}

.finance-form {
  font-size: 20px;
}

.finance-form__income {
  text-align: center;
}

.finance-form__percent-wrapper {
  display: grid;
  justify-content: space-between;

  grid-row-gap: var(--sp-2);
  grid-template-columns: 1fr;
  @include mobile-up {
    grid-column-gap: 0;
    grid-template-columns: repeat(3, min-content);
  }
}

.finance-form__percent {
  text-align: center;

  @include mobile-up {
    width: 105px;
  }
}
