$button-max-width: 230px;
$button-min-width: 140px;

.base-button {
  display: grid;
  align-items: center;
  min-width: $button-min-width;
  max-width: $button-max-width;
  padding: var(--sp-2) var(--sp-4);

  font-size: 20px;
  line-height: 30px;
  color: var(--palette-bg);

  background-color: var(--palette-primary);
  border: none;
  border-radius: 1000px;
  outline: none;
  cursor: pointer;

  justify-items: center;

  &:hover {
    opacity: 0.7;
  }

  &:active {
    opacity: 0.9;
  }

  &:focus {
    box-shadow: 0 0 0 2px var(--palette-bg), 0 0 0 4px var(--palette-primary);
  }
}

.base-button__secondary {
  background-color: transparent;
  padding: var(--sp-1);
  max-width: initial;
  min-width: initial;

  &:focus {
    box-shadow: 0 0 0 2px var(--palette-fg);
  }
}

.base-button__negative {
  background-color: var(--palette-negative);

  &:focus {
    box-shadow: 0 0 0 2px var(--palette-bg), 0 0 0 4px var(--palette-negative);
  }

  &:active {
    opacity: 0.8;
  }
}

.base-button__positive {
  background-color: var(--palette-positive);

  &:focus {
    box-shadow: 0 0 0 2px var(--palette-bg), 0 0 0 4px var(--palette-positive);
  }
}

.base-button:disabled {
  background-color: var(--palette-gray);
  cursor: not-allowed;

  &:hover {
    opacity: 1;
  }

  &:focus {
    box-shadow: 0 0 0 2px var(--palette-bg), 0 0 0 4px var(--palette-gray);
  }
}
